html, body {
    height: 100%;
}
body {
    background-color: aqua;
    background-image: url(jazzfest.jpg);
    background-size: 100% 100%;
}
#content {
    background-color: #f0f8ffbb;
    border-radius: 12px;
    margin: 10vh 10vw;
}